


.lot-image {
  max-width: 100vw;
  padding-top: 0vw;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin:1vw auto;
  min-width: 80vw;
}




/* Acasa.css */
.word-list-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -22vw;

}

.noutati-container {
  padding-top: 1vw;
  display: flex;
  margin:-8vw;
}

.news-item {
  margin: 4vw;
  text-align: center;
}

.word-4 {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 3vw;
}
.ultimele{
  font-size: 2.0vw;
}

.imageintoarcere {
  max-width: 80vw;
  width: 15vw;
  height: 10vw;
  margin-top: -3vw;
}
.frame-noutati {
  max-width: 100vw; 
  height: 20vw;
  align-items: center;
  display: flex;
}






/* Pt echipa de seniori*/

.word-list-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -22vw;

}

.news-container2 {
  display: flex;
}
.intalneste{
  padding-top:10vw;
  font-size: 2.0vw;
}

.news-item2 {
  margin: 0vw;
  text-align: center;
}

.word-5 {
  font-size: 1.5vw;
  font-weight: bold;
  margin:2vw;
  color:rgba(255, 255, 255, 1);
  text-shadow: 5px 5px 5px black; 
  
}


.imageaici {
  max-width: 80vw;
  width: 15vw;
  height: 3vw;
}
.lot-frame {
 width: 100vw;
  height: 10vw;
  padding-top: 10vw;
  align-items: center;
  display: flex;
}

.intalneste{
  font-size: 2.0vw;
}

/* Pt rezultate*/

.word-list-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -22vw;

}

.news-rezultate {
  display: flex;
}
.rezultate{
  padding-top:0vw
}

.news-rezultate{
  margin: 0vw;
  text-align: center;
}

.word-6 {
  font-size: 1.5vw;
  font-weight: bold;
  margin:2vw;
  color:black;
  
}



.framerezultate {
 width: 100vw;
  height: 20vw;
  padding-top: 8vw;
  align-items: center;
  display: flex;
}


.news-rezultate {
  display: flex;
  justify-content: space-between;
}

.image-with-text {
  text-align: center;
  margin-left:2vw;

}


.text-between-images {
  margin-top:0vw;
  font-size: 1vw; 
  font-size: 1.4vw;
  
}
.text-between-images2 {
  margin-top: -2vw; 
  font-size: 2vw;
  font-weight: bold;
  margin-left:0vw;
  margin-right:0vw;
  margin-top:3vw;

  
}
.rezultate-image {
  width: 5vw;
  height: 5vw;
  padding-top: 0vw;
  margin-left: -5vw;
  margin-right: -5vw;

}
.rezultate-image2 {

  padding-top: 1vw;
  height: 2vw;
  
  

}


/* Pt meciurile viitoare*/
.detalii-image2 {

  padding-top: 1vw;
  height: 2vw;
  
  

}



/* Optimizari */
@media only screen and (min-resolution: 150dpi) {
  .word {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.5rem; 

  }
  
}