
 /*Titlu*/

 .frame-image-ADMmeciuri {
  width: 100%; 
  padding-top: 1vw;
  height: auto;
  align-items: center;
  display: flex;
}

 .title-ADMmeciuri {
    position: relative;
    text-align: center; 
   
}

.label-container-ADMmeciuri {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  margin: 0.55vw;
  gap:0.5vw
}


.label_title-ADMmeciuri  {
  font-size: 3.8vw; 
  margin: 0.55vw; 
 
}

.row-title-ADMmeciuri
{
  display: flex;
  gap: 1vw;
}
.label_subtitle-ADMmeciuri  {
  font-size: 1.3vw; 
 
}

.label_subtitle_admin-ADMmeciuri  {
  font-size: 1.3vw; 
  color: white;
}
  
  /*Admin*/

  .Container-ADMmeciuri
{
  margin-top: 7vw;
  display: flex;
  align-items: flex-start;
  gap: 3%;
  margin-left: 5%;
  margin-right: 0.5%;
  
}
  
  .Menu-ADMmeciuri{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22.5%;
    height: auto;
    
  }
  
  .Workspace-ADMmeciuri
  {
    width: 70vw;
  height: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  }
  .Admin-menu-img-ADMmeciuri
  {
    position: relative;
    display: flex;
    width: 100%;
    height: 40vw;
  }
  
  .Admin-workspace-img-ADMmeciuri
  {
    width: 100%;
    height: auto;
  }
  
  .ADMmeciuri_titles {
    position: absolute; 
    top: 1.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .options_ADMmeciuri{
  
    position: absolute; 
    display: flex;
    flex-direction: column;
    top: 7vw;
    align-items: center;
    gap: 3.5vw;
    text-transform: uppercase;
  }
  
  .ADMmeciuri_options1
  {
    font-size:1.5vw;
    color: black;
  }

  .ADMmeciuri_options {
    font-size:1.5vw;
    text-decoration: none; 
    color: inherit;
  }
  /*Editeaza Meciuri*/

  .admin_titles1-ADMmeciuri{
    font-size: 1.4vw;
    margin-top: -88.5%;
    font-weight: bold;
    text-transform: uppercase;
  
  }

  .workspace-row-ADMmeciuri,
  .workspace-row1-ADMmeciuri {
    margin-top: 5vw;
    display: flex;
    align-items: flex-start;
    gap:0;
    margin-left: 5vw;
    margin-right: 5vw;
    

    
  }

  .workspace-row1-ADMmeciuri{
    margin-top: 3.0vw;
    gap:2vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  

  .workspace-collumn-ADMmeciuri, 
  .workspace-collumn-input-ADMmeciuri{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    


    
  }

  .workspace-collumn-ADMmeciuri
  {
    
    gap:3.55vw;
  }

  .workspace-collumn-input-ADMmeciuri
  {
    width:20vw;
  }

  .workspace-labels-ADMmeciuri
  {
    font-size: 1.15vw;
    font-weight: bold;
  }

  .workspace-inputs-ADMmeciuri, .workspace-choicebox-ADMmeciuri{
    width: 75%;
    height: 1.1vw;
    border-radius: 25vw; 
    padding: 0.4vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #999;
    
  }

  .workspace-choicebox-ADMmeciuri
  {
    width: 80%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="%23999"><polygon points="0,0 5,8 10,0"/></svg>');
    background-repeat: no-repeat;
    background-position: 95% 50%; /* Adjust the position of the arrow */
    background-size: 1vw; /* Adjust the size of the arrow */
    font-size: 1.5vw;
    padding: 0.1vw;
    
  }
  .workspace-choicebox-ADMmeciuri::placeholder
  {
font-size: 1vw;
  }

  .workspace-button-submit-ADMmeciuri
  {
    width: 12vw;
  
    border-radius: 25vw;
    padding: 0.4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    text-transform: uppercase;
    font-size: 0.8vw;
    outline: none;
    border: 0.1vw solid black;
    text-decoration: none;

  }

  .workspace-row-index-ADMmeciuri
  {
    margin-top: 2.7vw;
  
    justify-content:center;
    align-items: center;
    gap: 1.7vw;
  }

  .workspace-labels-upper-ADMmeciuri
{
  font-size: 1.3vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2vw;
}

.AdminIndexImage-ADMmeciuri{
  width: 64vw;
  height: auto;
  margin-top: -0.2vw
   
}
  

.overlay-text-container-meci {

  text-align: center;
  width: 100%;
  top:70vw;
  display: flex;
}

.overlay-text-meci {
  font-size: 1.2vw;
  color: white;  /* Adjust the color as needed */
  /* Add any other styles you want for the text */
  padding-top: 1vw;
}
.error {
  color: red;
  /* You can add additional styling for errors, such as border, background, etc. */
}

.workspace-checkbox-ADMmeciuri {
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid transparent; 
  border-radius: 0.1vw;
  padding: 0.1vw;
  transform: scale(0.8);
}

