
 /*Titlu*/

 .frame-image-ADM {
  width: 100%; 
  padding-top: 1vw;
  height: auto;
  align-items: center;
  display: flex;
}

 .title-ADM  {
    position: relative;
    text-align: center; 
   
}

.label-container-ADM  {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  margin: 0.55vw;
  gap:0.5vw
}


.label_title-ADM  {
  font-size: 3.8vw; 
  margin: 0.55vw; 
 
}

.row-title-ADM 
{
  display: flex;
  gap: 1vw;
}
.label_subtitle-ADM  {
  font-size: 1.3vw; 
 
}

.label_subtitle_admin-ADM  {
  font-size: 1.3vw; 
  color: white;
}

/*Admin*/

.Container-ADM
{
  margin-top: 7vw;
  display: flex;
  align-items: flex-start;
  gap: 3%;
  margin-left: 5%;
  margin-right: 0.5%;
  
}

.Menu-ADM{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22.5%;
  height: auto;
  
}

.Workspace-ADM 
{
  width: 70%;
  height: auto;
  align-items: center;
  display: flex;
}
.Admin-menu-img-ADM
{
  position: relative;
  display: flex;
  width: 100%;
  height: 40vw;
}

.Admin-workspace-img-ADM
{
  width: 100%;
  height: auto;
}

.ADM_titles {
  position: absolute; 
  top: 1.5vw;
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.options_ADM{

  position: absolute; 
  display: flex;
  flex-direction: column;
  top: 7vw;
  align-items: center;
  gap: 3.5vw;
  text-transform: uppercase;
}

.ADM_options
{
  font-size:1.5vw;
}