.player-image-senior-ADMJucatori
  {
    width: auto;
    height: auto;
    max-height: 11vw;
    max-width: 11vw;
  }
  
.playercard-ADMJucatori,
.detalii-item-ADMJucatori
{
  display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: row;
    gap: 1vw;

}
.playercard-ADMJucatori
{
  margin-left: -2vw;
}

  .Workspace-infoplayer-collumn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    gap:0.2vw; 
    max-width: 14vw;
    min-width: 14vw;
    
  }

  .detalii-label-ADMJucatori
  {
    font-size: 0.9vw;
    text-transform: uppercase;
    color: #999;
  }
  .detalii-label-nume-ADMJucatori{
    color: blue;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
  }

  .detalii-value-ADMJucatori
  {
    font-size: 1vw;
  }
  
 .Workspace-actions-collumn
 {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap:1vw; 
  
 } 

 .Action-image-ADMJucatori{
  width:1.5vw;
  height: auto;
 }
 
 .borderimage
 {
  width: 11vw;
  height: 11vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;


 }

 .player-image-senior-ADMJucatori
  {
    min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block; 
  object-fit: contain;
  }