
 /*Titlu*/

 .frame-image-ADMStiri {
  width: 100%; 
  padding-top: 1vw;
  height: auto;
  align-items: center;
  display: flex;
}

 .title-ADMStiri  {
    position: relative;
    text-align: center; 
   
}

.label-container-ADMStiri  {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  margin: 0.55vw;
  gap:0.5vw
}


.label_title-ADMStiri  {
  font-size: 3.8vw; 
  margin: 0.55vw; 
 
}

.row-title-ADMStiri
{
  display: flex;
  gap: 1vw;
}
.label_subtitle-ADMStiri  {
  font-size: 1.3vw; 
 
}

.label_subtitle_admin-ADMStiri  {
  font-size: 1.3vw; 
  color: white;
}
  
/*Admin*/

.Container-ADMStiri
{
  margin-top: 7vw;
  display: flex;
  align-items: flex-start;
  gap: 3%;
  margin-left: 5%;
  margin-right: 0.5%;
  
}

.Menu-ADMStiri{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22.5%;
  height: auto;
  
}

.Workspace-ADMStiri
{
  width: 80%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Admin-menu-img-ADMStiri
{
  position: relative;
  display: flex;
  width: 100%;
  height: 40vw;
}

.Admin-workspace-img-ADMStiri
{
  width: 100%;
  height: auto;
}

.ADMStiri_titles {
  position: absolute; 
  top: 1.5vw;
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.options_ADMStiri{

  position: absolute; 
  display: flex;
  flex-direction: column;
  top: 7vw;
  align-items: center;
  gap: 3.5vw;
  text-transform: uppercase;
}

.ADMStiri_options
{
  font-size:1.5vw;
}

/*Editeaza Stiri*/

.admin_titles1-ADMStiri{
  font-size: 1.4vw;
  margin-top: -88.5%;
  font-weight: bold;
  text-transform: uppercase;

}

.workspace-row-ADMStiri,
.workspace-row1-ADMStiri,
.workspace-row2-ADMStiri {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  
}

.workspace-row1-ADMStiri
  {
    
    gap:1.7vw;
    margin-left: -8vw;
    margin-right: -8vw;
    margin-top: 2vw;
  }

.workspace-row2-ADMStiri
{
  margin-top: 2vw;
  gap:1.2vw;
  width: 60vw;
}

.workspace-row3-ADMStiri
{
  margin-top: 2vw;
  margin-left: 10vw;
  gap:1.2vw;
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.workspace-labels-ADMStiri
  {
    font-size: 1.2vw;
    font-weight: bold;
  }

  .workspace-labels-ADMStiri1
  {
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    
  }


  .workspace-inputs-ADMStiri,
  .workspace-choicebox-ADMStiri{
    width: 19vw;
    height: auto;
    border-radius: 25vw; 
    padding: 0.4vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #999;
    
  }
  .workspace-choicebox-ADMStiri {
    width: 12vw;
    text-align: center;
    height: auto;
    border-radius: 25vw;
    padding: 0.4vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="%23999"><polygon points="0,0 5,8 10,0"/></svg>');
    background-repeat: no-repeat;
    background-position: 95% 50%; /* Adjust the position of the arrow */
    background-size: 1vw; /* Adjust the size of the arrow */
  }
  
  .workspace-labels1-ADMStiri
  {
 
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: -4vw;
   
  }
  
  .workspace-inputs-descriere-ADMStiri{
    width: 22vw;
    height: 10vw;
    border-radius:0.9vw; 
    padding: 0.4vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #999;
    padding-right: 10vw;
  }

  .workspace-button-ADMStiri , 
  .workspace-button-programare-ADMStiri{
    
    width: 20%;
    height: 2vw;
    border-radius: 25vw;
    padding: 0.6vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    text-transform: uppercase;
    font-size: 0.7vw;
    margin-top:-6vw;
    outline: none;
    border: 0.1vw solid black;
}

.workspace-button-programare-ADMStiri
{
    margin-top:0vw;
    width: 16%;
}

.workspace-labels-upper-ADMStiri
{
  font-size: 1.3vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.AdminIndexImage-ADMStiri{
  width: 64vw;
  height: auto;
  margin-top: -2vw
   
}
  

.overlay-text-container-stiri {

  text-align: center;
  width: 100%;
  top:50vw;
  display: flex;
}

.overlay-text-stiri {
  font-size: 1.3vw;
  color: white;  /* Adjust the color as needed */
  /* Add any other styles you want for the text */
  padding-top: 1vw;
}