.frame-club {
  width: 20vw;
  height: 12vw;
  align-items: center;
  padding-left: 40%;
  display: flex;
}

.frame-overlay-club {
  position: relative;
}

.words-lot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  font-weight: bold;
}

.wordslot-list-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 1vw;
}

.wordslot-list-link-lot {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  margin: 1vw;
}

/* Pentru club seniori */
.frame-club-seniori {
  width: 100vw;
  height: 4vw;
  align-items: center;
  padding-top:4vw;
  display: flex;
}

.frame-overlay-club-seniori {
  position: relative;
}

.words-lot-seniori {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}
.wordslot-list-lot-seniori {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 1vw;
}

/* Pentru playeri pentru seniori */


.jucator-container {
display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

}
.jucator {
  /* Adjust styling for individual Jucator component as needed */

  margin-bottom: -0vw; /* Add some spacing between rows */
  width: 30%;
}