

  /*Title*/
  .frame-image-PGContact {
    width: 100%; 
    padding-top: 1vw;
    height: auto;
    align-items: center;
    display: flex;
  }
  
   .title-PGContact {
      position: relative;
      text-align: center; 
     
  }
  
  .label-container-PGContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    margin: 0.55vw;
    gap:0.5vw
  }
  
  
  .label_title-PGContact{
    font-size: 3.8vw; 
    margin: 0.55vw; 
   
  }

  .row-title-PGContact
  {
    display: flex;
    gap: 1vw;
  }
  .label_subtitle-PGContact {
    font-size: 1.3vw; 
   
  }
  
  .label_subtitle_admin-PGContact {
    font-size: 1.3vw; 
    color: white;
  }

/*Contact*/

.contact_image-PGContact {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    margin-left: 10%;
    margin-right: 10%;
}

.label_t-PGContact {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7vw;
    color: black; 
    text-align: center;
    margin-top: -4.2vw;
    
   
}
.label_Astept-PGContact {
   
    margin-left: 12vw;
    font-weight: bold;
    font-family: 'Cabin';
    font-size: 1.4vw;
    color: black; 
    margin-top: 3vw;
    
   
}

.row_label-PGContact {
    margin-top: 1vw;
    display: flex;
    margin-left: 12vw;
    gap: 26.3%;
    
    
}

.row_textbox-PGContact {
    margin-top: 0.5vw;
    display: flex;
    justify-content:center;
    gap: 1%;
    
    
}

.textbox-PGContact{
    width: 23.5%;
    height: 3.5vw;
    border-radius: 25vw;
    background-color: #92CBFF;
    padding: 0.1vw;
    padding-left: 0.5vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #999;
}

.textbox_mesaj-PGContact {
  width: 75%;
  height: 9vw;
  border-radius: 3vw;
  background-color: #92CBFF;
  font-size: 1vw;
  outline: none;
  border: 0.1vw solid #999;
  text-align: left;
  padding-left: 1vw;
  padding: 0.1vw;
  box-sizing: border-box;  
  vertical-align: top;
}

.Entry_label-PGContact{
    font-size:0.8vw;
    text-transform: uppercase;
    font-weight: bold;

}

.button-PGContact {
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the text */
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 25vw;
    width: 75%;
    height: 2.7vw;
    font-size: 1.2vw;
    outline: none;
    border: 0.1vw solid black;
}
.contact-PGContact {
  margin-top: 2vw;
  align-items: center;
  margin-bottom: 10vw;
  
}
.row_contact_1-PGContact {
  margin-top: 0.5vw;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10%;
  margin-left: 12vw;
 
  
  
}
.row_contact-PGContact {
  margin-top: 0.5vw;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-start;
  gap: 1%;
  width: 30vw;
}



.column_contact-PGContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  
}

.contact-img-PGContact{
  width: 1.5vw;
  height: auto;
  align-items: center;
}

.contact-img1-PGContact{
  width: 1.5vw;
  align-items: center;
  height: 1.5vw;
  
}

.contact_label-PGContact {
  display: flex;
  font-size: 1.2vw;
  text-decoration: none; 
  
}



/*End*/
  
 
 
