/* src/App.css */
body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: rgba(199, 213, 247, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.word-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.word {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 16px; /* Adjusted margin */
}

.imagelogo {
  max-width: 100%; /* Adjusted to 100% */
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.csu-suceava {
  color: rgba(0, 13, 132, 1);
  margin-left: auto;
  margin-right: 16px; /* Adjusted margin */
}

.imageuser,
.imagecos {
  max-width: 100%; /* Adjusted to 100% */
  height: auto;
  margin: 0;
}

.contact {
  margin-right: auto;
}

.csu-login {
  margin-left: 16px; /* Adjusted margin */
}

.csu-cos {
  margin-right: 0;
}

.frame-image {
  max-width: 100%; /* Adjusted to 100% */
  height: auto;
  align-items: center;
  display: flex;
}

.word-list-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Center horizontally */
  position: fixed;
  bottom: 60px;
  width: auto;
  margin-bottom: 16px; /* Adjusted margin for spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
}


.word-2 {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 16px; /* Adjusted margin */
}

.contact-2 {
  margin-right: 16px; /* Adjusted margin */
}

.divider-image {
  max-width: 100%; /* Adjusted to 100% */
  height: 2px;
  align-items: center;
  justify-content: center;
  margin-left: 5%; /* Adjusted margin */
  margin-right: 5%; /* Adjusted margin */
  position: fixed;
  bottom:45px;
  left: 0;
  width: 90%; /* Make it full-width */
  margin-bottom: 16px; /* Adjusted margin for spacing from the bottom */
  

}
.csu-suceava2{
  color: rgba(0, 13, 132, 1);
  margin-left: auto;
  margin-right: 16px; /* Adjusted margin */
}

.word-list-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Center horizontally */
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%; /* Make it full-width */
  margin-bottom: 16px; /* Adjusted margin for spacing from the bottom */
}


.word-3 {
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 16px; /* Adjusted margin */
}

.termen {
  margin-top: -16px; /* Adjusted margin */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .word-list,
  .word-list-2,
  .word-list-3 {
    flex-direction: column;
    text-align: center;
  }

  .word {
    margin: 8px; /* Adjusted margin */
  }

  .imagelogo,
  .imageuser,
  .imagecos,
  .frame-image,
  .divider-image {
    width: 100%; /* Adjusted width */
  }
}
