body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.word-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.word {
  font-size: 2.0vw;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2vw;
  text-decoration: none;
  color:black;
}

.imagelogo {
  max-height: 5vw;
  margin-right: auto;
  margin-left: auto;
  width: 5vw;
  display: flex;
}

.csu-suceava {
  color: rgba(0, 13, 132, 1);
}

.imageuser,
.imagecos {
  max-width: 2vw;

  height: auto;
  width: 2vw;
  margin: 0;
}

.csu-cos,
.csu-login {
  margin-left: auto;
}

.selectare-pagina{
  text-decoration: underline;
}

/* Optimizari */
@media only screen and (min-resolution: 151dpi) {
  .word {
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2vw;
  
  }
}