
 /*Titlu*/

 .frame-image-PGNoutati {
  width: 100%; 
  padding-top: 1vw;
  height: auto;
  align-items: center;
  display: flex;
}

 .title-PGNoutati {
    position: relative;
    text-align: center; 
   
}

.label-container-PGNoutati {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  margin: 0.55vw;
  gap:0.5vw
}


.label_title-PGNoutati {
  font-size: 3.8vw; 
  margin: 0.55vw; 
 
}

.row-title-PGNoutati
{
  display: flex;
  gap: 1vw;
}
.label_subtitle-PGNoutati {
  font-size: 1.3vw; 
 
}

.label_subtitle_admin-PGNoutati {
  font-size: 1.3vw; 
  color: white;
}

/*Noutati*/
  
.News-PGNoutati{
  margin-top: 7vw;
}

.FrameNoutati_image-PGNoutati {
  width: 100%;
  height: auto;
 

}

.Filter-row-PGNoutati {
  margin-top: -60vw;
  display: flex;
  margin-left: 6vw;
  gap: 2%;
  align-items: center;
}

.textbox_filter-PGNoutati {
  width: 17%;
  height: 1.5vw;
  border-radius: 25vw;
  background-color: #84BDE7;
  padding: 0.1vw;
  padding-left: 0.5vw;
  border: 0.05vw solid #999;
  outline: none; 
  font-size: 1.1vw;
}


.label_Filter-PGNoutati{
      font-size:2vw;
  
}

.button_filtreaza-PGNoutati{
     
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.4vw;
      text-align: center;
      background-color: black;
      color: white;
      border-radius: 25vw;
      width: 15%;
      height: 2vw;
      border: 0.05vw solid black;
}

.news-row-PGNoutati
{
      margin-top: 5vw;
      display: flex;
      justify-content:center;
      align-items: center;
      gap: 4vw;
      margin-bottom: 10vw;
     
}
.news-column-PGNoutati {
      margin-top: -0.5vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:3vw;
    
}

    .news-column_1-PGNoutati {
      margin-top: -4vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:1.5vw;
    
    }

    .Stiri_image-PGNoutati{
      width: 43vw;
      height: auto;
    }

    .Clasament-Meciuri_image-PGNoutati{
      width: 40vw;
      height: 22vw;
    }

    .label_image_news-PGNoutati{
      font-size:1.5vw;
      font-weight: bold;
     
    }


  





/*End Noutati*/

