
 /*Titlu*/

 .frame-image-PGNoutati {
  width: 100%; 
  padding-top: 1vw;
  height: auto;
  align-items: center;
  display: flex;
}

 .title-PGNoutati {
    position: relative;
    text-align: center; 
   
}

.label-container-PGNoutati {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  margin: 0.55vw;
  gap:0.5vw
}


.label_title-PGNoutati {
  font-size: 3.8vw; 
  margin: 0.55vw; 
 
}

.row-title-PGNoutati
{
  display: flex;
  gap: 1vw;
}
.label_subtitle-PGNoutati {
  font-size: 1.3vw; 
 
}

.label_subtitle_admin-PGNoutati {
  font-size: 1.3vw; 
  color: white;
}

/*Noutati*/
  







/*End Noutati*/

